{{> widgets/breadcrumb/breadcrumb}}
<div class="material-icons-wrapper">
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.newIcons}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.newIcons}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.webApplication}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.webApplication}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.notifications}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.notifications}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.person}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.person}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.file}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.file}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.editor}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.editor}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.comment}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.comment}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.form}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.form}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.hardware}}Hardware</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.hardware}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.directional}}Directional</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.directional}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.mapAliases}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.mapAliases}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
	<div class="card mb-4">
		<div class="card-content">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h3 class="card-title">{{translation.dateAndTime}}</h3>
			</div>
			<div class="row icon-style">
				{{#each data.materialIcons.dateAndTime}}
				<div class="col s12 m4 l3">
					<span><i class="zmdi zmdi-{{this}}"></i></span>
					<span class="icon-title">{{this}}</span>
				</div>
				{{/each}}
			</div>
		</div>
	</div>
</div>
